@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.swiper-container {
  margin-right: 130px;
  background-color: #ffae00;
}

@media screen and (max-width: 767px) {
  /* COMPONENTS  */
  .CardMenu {
    width: 200px;
    height: 100%;
  }
  .mySwiper {
    /* background-color: #ffae00; */
    height: 100%;
  }
  /* COMPONENTS END */
  /* PAGE 1  */
  .navbar {
    /* background-color: red; */
    width: 100%;
    height: 70px;
    padding: 30px;
  }
  .swiper1 {
    /* background-color: #ffae00; */
  }
  .swipeMenu {
    /* background-color: aquamarine; */
    /* padding-left: 20px; */
  }
  .navbarItem {
    display: none;
  }
  .logoNav {
    object-fit: contain;
    width: 100px;
  }
  .navbarSecond {
    padding-top: 18px;

    display: flex;
    color: #ffae00;
  }
  .containerJudul {
    gap: 20px;
  }
  .page1 {
    /* background-color: red; */
    padding: 30px;
    flex-direction: column;
    height: auto;
  }
  .judul {
    /* background-color: #ffae00; */
    width: 300px;
    font-size: 45px;
  }
  .break1 {
    display: none;
  }
  .cewek1 {
    /* display: none; */
    /* background-color: red; */
    width: 300px;
    height: 100px;
    margin-left: 50px;
  }
  .loremCewek {
    /* background-color: #ffae00; */
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  .lorem1 {
    width: 100px;
    display: none;
  }
  .btn1 {
    display: none;

    width: 300px;
  }
  .btn2 {
    display: flex;
    width: 300px;
  }
  .lorem2 {
    display: flex;
    width: 300px;
  }

  .btnItems {
    align-items: center;
    font-size: 15px;
    gap: 8px;
    padding: 0px 10px;
    /* background-color: #ffae00; */
  }

  /* PAGE 1 END  */

  /* PAGE 2  */
  .page2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;
  }
  .cardPlus {
    width: 420px;
    height: 150px;
    padding: 30px;
    font-size: 1px;
    padding-left: 100px;
  }
  .textMobile {
    /* background-color: #ffae00; */
    font-size: 1px;
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
  .tCardPlus {
    font-size: 28px;
  }
  /* PAGE 2 END  */

  /* PAGE 3  */
  .page3 {
    padding: 40px 30px;
    background-color: #ffae00;
    height: auto;
  }
  .lorem {
    font-size: 28px;
  }
  .cardBest {
    flex-direction: column;
    padding-right: 5px;
  }
  /* PAGE 3 END  */

  /* page 4  */
  .page4 {
    height: auto;
    padding: 30px 0px;
    font-size: 20px;
    gap: 20px;
  }
  .text4 {
    font-size: 28px;
    text-align: center;
  }
  .break2 {
    display: flex;
  }
  .page41 {
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 0px;
  }
  .cardValue {
    width: 300px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-left: 25px;
    /* background-color: #ffae00; */
  }
  .cewek4 {
    width: 70%;
  }
  .cardVa4 {
    width: 270px;
    height: 200px;
    /* background-color: #ffae00; */
  }
  /* page 4 end  */

  /* PAGE 5  */
  .page5 {
    padding: 50px 0px;
    height: 100vh;
  }
  .page51 {
    /* gap: 100px; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #ffae00; */
    padding: 0px;
  }
  .page52 {
    padding: 0px;
  }

  .swiper1 {
    margin: 0px;
  }

  .container_judul5 {
    gap: 30px;
    width: 250px;
    height: auto;
    text-align: center;
    /* background-color: #ffae00; */

    align-items: center;
  }
  .lorem5 {
    font-size: 19px;
  }
  .judul5 {
    width: 300px;
    text-align: center;
  }
  /* PAGE 5 end */

  /* PAGE 6  */
  .page6 {
    padding: 30px;
    background-color: #ffae00;
    gap: 20px;
  }
  .judul6 {
    text-align: center;
  }
  .lorem6 {
    font-size: large;
  }
  .cardTesti {
    padding: 16px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  .card6 {
    /* background-color: #ffae00; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* font-size: small; */
    padding-left: 10px;
    gap: 10px;
  }
  .containerProfile6 {
    /* background-color: #ffae00; */
    justify-content: unset;
  }
  .profileComment {
    margin-top: 20px;
    width: 70px;
    height: 70px;
  }
  .lorem61 {
    /* background-color: aqua; */
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    height: 160px;
  }
  .text6 {
    width: 100%;
    font-size: 12px;
  }
  .name6 {
    font-size: 14px;
  }
  /* PAGE 6 END */

  /* PAGE 7  */
  .page7 {
    /* margin-top: -50px; */
    padding: 0;
    height: 300px;
  }
  .lorem7 {
    margin-top: -10px;
    font-size: 10px;
    text-align: center;
  }
  .cardEmail {
    padding: 25px;
    margin-top: -150px;
    border-radius: 10px;

    width: 300px;
    height: auto;
  }
  .conCardEmail {
    gap: 20px;
    /* background-color: #ffae00; */
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .text7 {
    font-size: 20px;
    text-align: center;
    /* background-color: #ffae00; */
  }
  .btnSubs {
    padding: 0;
    width: 100%;
    height: 50px;
  }
  .textSubs {
    font-size: 12px;
  }
  .inputSubs {
    font-size: 12px;
    padding: 0;
  }
  /* PAGE 7 END */

  /* FOOTER  */
  .contFooter {
    width: 360px;
    padding: 20px;
    height: 550px;
    /* gap: 10px; */
  }
  .footer1 {
    flex-direction: column;
    gap: 20px;
    /* background-color: red; */
  }
  .brandFooter {
    width: 150px;
  }
  .footerBrand {
    gap: 10px;
  }

  .menuFooter {
    font-size: 10px;

    width: 50%;
    /* background-color: #ffae00; */
  }
  .contMenuFooter {
    gap: 10px;
    flex-direction: column;
  }
  .menuFlex1 {
    width: 100%;
    height: 100%;
    /* background-color: red; */
    gap: 20px;
  }
  .copyFooter {
    font-size: 10px;
    /* background-color: red; */
    margin-top: -20px;
    gap: 0px;
  }
  .copyFooter1 {
    font-size: 5px;
    width: 50%;
    gap: 12px;
  }
  .textCopy {
    font-size: 9px;
    /* background-color: #ffae00; */
  }

  /* FOOTER END */
}
